@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
1.0 Body
--------------------------------------------------------------*/
body {
	margin: 24px;
	font-size: 13px;
	line-height: 21px;
	font-family: $font__main;
	@extend %color--#{$color__text} !optional;
	font-weight: 400;
	vertical-align: baseline;
}