$include_colours : 0;
$is_palette_stylesheet : 1;

/* Background colours */
$color__background-body:        #545454;
$color__background-wrapper:     #f5f8f9;
$color__background-screen:      #f5f8f9;
$color__background-widget:      #ebf2f2;
$color__background-content:     #ffffff;
$color__background-button:      #273d3e;
$color__background-meta:        #ebf2f2;
$color__background-blockquote:  #ebf2f2;
$color__background-th:          #ebf2f2;
$color__background-form-fields: #ebf2f2;

/* Accent colour */
$color__accent:                 #e53234;
$color__accent-hover:           #1cc8ce;

/* Text colour */
$color__text:                   #273d3e;
$color__text-dark:              #273d3e;
$color__text-overlay:           #ffffff;
$color__text-screen:            #273d3e;
$color__text-meta:              #a2c2c4;

/* Borders */
$color__border-primary:         #d6e4e5; 
$color__border-secondary:       #ccddde; 

/* Miscellaneous */
$color__success:                #1ba714;
$color__failure:                #cc181e;

@import "main";