#page {
	position: relative;	
	// overflow-x: hidden;
}

.body-wrapper {
	float: left;
	clear: both;
	width: 100%;			
}

#main {	
	// overflow-x: hidden;
	@include padding( 0, 0, $size__margin-triple );	
	@include background-color( $color__background-wrapper );

	@include bp( 800 ) {
		@include padding-left( $size__margin-triple );
		@include padding-right( $size__margin-triple );
	}
}

.content-area,
.sidebar {
	float: left;
	width: 100%;
}

.sidebar {
	@include padding( $size__margin-triple, $size__margin-double, 0 );
}

@include bp( 800 ) {	    
	.content-area {
		width: 68%;
		@include padding-right( $size__margin-triple );
	}

	.sidebar {
		width: 32%;
		@include margin-top( 104 );
		padding-right: 0;
		padding-left: 0;
	}	

	.banner {
        position: relative;
        width: -webkit-calc((100% + #{$size__margin-triple}px)/ 0.68 + #{$size__margin-triple * 2}px);
        width: -moz-calc((100% + #{$size__margin-triple}px)/ 0.68 + #{$size__margin-triple * 2}px);
        width: calc((100% + #{$size__margin-triple}px)/ 0.68 + #{$size__margin-triple * 2}px);                
    }

	.content-area.no-sidebar {
		width: 100%;
		float: none;		
		padding-right: 0;

		.banner {
	        width: -webkit-calc(100% + #{$size__margin-triple * 2}px);
	        width: -moz-calc(100% + #{$size__margin-triple * 2}px);
	        width: calc(100% + #{$size__margin-triple * 2}px);
	    }

		.entry-block, 
		.comments-section {
			width: 68%;
			margin-left: auto;
			margin-right: auto;
		}

		.comments-section {
			float: none;
		}
	}
}