#page {
	position: relative;	
	overflow-x: hidden;	
}

.body-wrapper {
	float: left;
	clear: both;
	width: 100%;			
}

#main {
	@include padding( 0, 0, $size__margin-triple );	
	@include background-color( $color__background-wrapper );

	@include bp( 800 ) {
		@include padding-left( $size__margin-triple );
		@include padding-right( $size__margin-triple );
	}
}

.content-area,
.sidebar {
	float: left;
	width: 100%;
}

.sidebar {
	@include padding( $size__margin-triple, $size__margin-double, 0 );
}

@include bp( 800 ) {	
	.content-area {
		width: 68%;
		@include padding-right( $size__margin-triple );
	}

	.sidebar {
		width: 32%;
		@include margin-top( 104 );
		padding-right: 0;
		padding-left: 0;
	}	

	.content-area.no-sidebar {
		float: none;
		margin-left: auto;
		margin-right: auto;
		padding-right: 0;
	}
}