#page {		
	position: relative;	
	overflow-x: hidden;	
}

.body-wrapper {
	float: left;
	clear: both;
	width: 100%;			
}

#main {
	@include padding( 36, 24 );	
	@include background-color( $color__background-wrapper );	

	@include bp ( 800 ) {
		@include padding-right( 36 );
		@include padding-left( 36 );
	}
}

.content-area,
.sidebar {
	width: 100%;
	@include margin-bottom( 48 );
	@include hidden-overflow();
}

@include bp( 720 ) {
	.content-area {
		float: left;
		width: 68%;
		@include padding-right( 36 );
	}

	.sidebar {
		float: right;
		width: 32%;
	}
}

#site-footer {
	@include padding( 24 );

	a {
		height: auto;
	}
}