.fullwidth {
	.content-area {
		float: none;
		margin: 0;
		width: 100%;
	}

	.site-main {
		margin: 0;
	}

	.site-content .widget-area {
		width: 100%;
	}
}

.page-template-page-template-home-slider {
	@extend .fullwidth;
}