.layout-boxed {
    #page {
        @include max-width( 600 );
        margin: 0 auto;
        @include bp( 600 ) {
            max-width: 100%;
        }
        @include bp( 1190 ) {
            width: 119rem;
        }
    }

    .social {
        @include bp( 1190 ) {
            @include padding-left( $size__margin-triple + 9 );
        }
    }

    .body-wrapper {
        border-radius: 0.4rem 0.4rem 0 0;
        @include bp( 1190 ) {
            @include padding( 0, 10 );
        }
    }

    .feature-block {
        @include fullwidth-wrapper-padded();
        @include padding( $size__margin-triple, $size__margin-triple + 9 );
    }

    .site-navigation {        
        .menu-button {            
            @include right( $size__margin-double );

            @include bp( 600, false ) {
                @include top( -1 );
            }
        }
    }

    /* Shadow wrapper */
    .shadow-wrapper {
        &::before {
            @include border-right-color( $color__background-button );
        }
        
        &::after {
            @include border-left-color( $color__background-button );
        }
    }

    @include bp( 1190 ) {
         #header {
            border-radius: 0.4rem 0.4rem 0 0;
        }

        #main {
            border-radius: 0 0 0.4rem 0.4rem;
        }

        .shadow-wrapper {
            &::before,
            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                bottom: -0.9rem;
                width: 0;
                height: 0;
                border-style: solid;            
                border-width: 0 0.9rem 0.9rem 0.9rem;
            }

            &::before {
                left: -0.9rem;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }

            &::after {
                right: -0.9rem;
                border-right-color: transparent;
                border-bottom-color: transparent;           
            }
        }
        
        .content-area {            
            .banner {
                position: relative;
                width: -webkit-calc((100% + #{$size__margin-triple}px)/ 0.68 + #{($size__margin-triple + 9) * 2}px);
                width: -moz-calc((100% + #{$size__margin-triple}px)/ 0.68 + #{($size__margin-triple + 9) * 2}px);
                width: calc((100% + #{$size__margin-triple}px)/ 0.68 + #{($size__margin-triple + 9) * 2}px);
                margin-left: -0.9rem;
            }

            &.no-sidebar .banner {
                width: -webkit-calc(100% + #{($size__margin-triple + 9) * 2}px);
                width: -moz-calc(100% + #{($size__margin-triple + 9) * 2}px);
                width: calc(100% + #{($size__margin-triple + 9) * 2}px);
            }
        }
    }    
}