// body.wide-layout {}
// body.wide-layout #page {width: 100%;}

// .wide-layout .layout-wrapper {
//     max-width: 120rem;
//     margin: 0 auto;
// }

// .wide-layout .body-wrapper {
//     padding: 0;
//     border-radius: 0;
// }

// .wide-layout #header {
//     border-radius: 0;
// }

.layout-wide .layout-wrapper {
    position: relative;
    @include max-width( 1400 );
    margin: 0 auto;

    &:before {
        @include clearfix;
    }

    &:after {
        @include clearfix;
        @include clearfix-after;
    }
}