.layout-wide {    
    #main {
        overflow-x: hidden;
    }
    
    .page-template-homepage #main {
        padding: 0;   
    }

    .layout-wrapper {
        position: relative;
        @include max-width( 1400 );
        margin: 0 auto;

        &:before {
            @include clearfix;
        }

        &:after {
            @include clearfix;
            @include clearfix-after;
        }    

        @include bp( 1484 ) {   
            .content-area {
                .banner {
                    width: 100vw;
                    left: -50vw;
                    @include margin-left( 700 );
                }
            }
        }
    }

    .site-navigation {
        @include top( 5 - ($size__margin-double * 2) );

        @include bp( 600 ) {
            top: auto;
        }
    }

    .toggled .menu-site {
        width: -webkit-calc( 100% + #{$size__margin-double * 2}px );
        width: -moz-calc( 100% + #{$size__margin-double * 2}px );
        width: calc( 100% + #{$size__margin-double * 2}px );
    }

    @include bp( 800 ) {
        &.user-dashboard .banner {
            width: -webkit-calc(100% + #{$size__margin-triple * 2}px);
            width: -moz-calc(100% + #{$size__margin-triple * 2}px);
            width: calc(100% + #{$size__margin-triple * 2}px);
        }
    }
}