.page-template-page-template-home-slider {
	@extend .fullwidth;
	
	#main {
		padding-top: 0;
	}

	.content-area {		
		padding: 0;
		overflow: visible;
	}

	.feature-block {
		float: left;
		@include padding-top( $size__margin-triple );
		border: none;
		border-radius: 0;
		box-shadow: none;		
		overflow: visible;
	}		

	.page-title {
		@include padding( $size__margin-double, 0, 0 );
		margin-bottom: 0;
	}

	.entry {
		position: relative;
		z-index: 1;
		@include font-size( 18 );
		@include line-height( 28 );

		.button {
			@include margin( $size__margin, 3, 0 );
		}		
	}

	.campaigns-grid {
		@include font-size();
		@include line-height();

		.block-title {
			text-transform: uppercase;
		}
	}

	.charitable-campaign-map-marker {
		@include font-size();
		@include line-height();
		text-align: left;

		h3 {
			text-transform: uppercase;
		}
	}
}