.stripped {
	#page {
		@include padding-top( $size__margin-triple );		
	}

	.site-identity {
		float: none;
		padding-right: 0;
		text-align: center;
	}

	.banner {
		margin-bottom: 0;
	}

	.site-main {
		padding: 0;
		@include border( 1 );
		border-top: none;
		border-radius: 0 0 0.4rem 0.4rem;	    
		@include background-color( $color__background-content );
		box-shadow: 0 0 1px $color__background-content;
	}

	.entry-block {
		background: transparent;
		margin: 0;
		@include padding( 0, $size__margin-double );	
		border-radius: 0 0 0.4rem 0.4rem;

		.entry {
			padding: 0;
		}
	}	

	#site-footer {
		padding: 0;
	}

	#colophon {
		border: none;
	}

	.page-template-page-template-stripped-narrow {
		#page {
			@include max-width( 800 );
		}		
	}
}