.stripped {
	#page {
		@include padding-top( $size__margin-triple );		
	}

	.site-identity {
		float: none;
		padding-right: 0;
		text-align: center;
	}

	.banner {
		margin-bottom: 0;
	}

	#main {
		@include padding( 0, 0, $size__margin-triple );
		@include background-color( $color__background-content );
	}	

	.entry-block {
		@include background-color( $color__background-content );
		margin: 0;
		padding: 0;		
		border: none;
		border-radius: 0 0 0.4rem 0.4rem;
		box-shadow: none;
	}

	.entry {
		margin-left: 28px;
		margin-right: 28px;
	}

	#site-footer {
		padding: 0;
	}

	#colophon {
		border: none;
	}
}

@media screen and (max-width: 18.75em) {
	.stripped #main {
		@include padding( 0, $size__margin-half, $size__margin-half );
	}
}