button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
	
	&.button-large {
		@include padding-top( 12 );
		@include padding-bottom( 12 );
		@include font-size( 25 );
	}

	&:hover,
	&:active, 
	&:focus {
		background-color: transparent;
	}
}