input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include max-width( 300 );
	width: 100%;
	@include padding( 11, 10 );
	margin-top: 0;
	border: none;
	border-radius: 0.2rem;
	@include font-size( 11 );
	box-shadow: none;
	@include property-transition( background-color, 200ms );
	-webkit-appearance:none;
}

input:focus, 
textarea:focus, 
select:focus, 
select:active {
	outline: none;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
}

select {	
	position: relative;
	width: 100%;
	@include max-width( 300 );
	@include padding( 11, 10 );	
	border: none;
	border-radius: 0.2rem;
	@include size( text-indent, 3 );
}

.chrome input[type=file], 
.safari input[type=file] {
	@include padding-top( 8 );
	@include padding-bottom( 9 );
}

label {
	display: block;
	@include padding( 8, 0, 0 );
	@include line-height( 22 );
}

legend {	
	@include padding-bottom( 6 );
	border-bottom: {
		@include width( 1 ); 
		style: solid;
		color: #e2dedb;
	}
	@include font-size( 18 );
}