.featured-image {
	position: relative;
	@include fullwidth-calc( $size__margin-double );	
	line-height: 0;
	// border-radius: 0.4rem 0.4rem 0 0;
	text-align: center;	

	a {		
		position: relative;
		display: inline-block;	
		height: 100%;
		max-width: 100%;
		// border-radius: 0.4rem 0.4rem 0 0;
		line-height: 0;
		text-decoration: none;
	}

	@include bp( 800 ) {
		@include fullwidth-calc( $size__margin-triple );
	}
}