.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
object,
embed, 
iframe {
	max-width: 100%;
}

object,
embed {
	height: 100%; 
}

/* Google Maps hacks */
#map_canvas,
.map_canvas {
	img, 
	embed, 
	object {
		max-width: none !important; 
	}	
}

/*--------------------------------------------------------------
16.1 Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
16.2 Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
16.3 Featured Image
--------------------------------------------------------------*/
@import "featured-image";

/*--------------------------------------------------------------
16.4 Video
--------------------------------------------------------------*/
@import "videos";