.fit-video {    
    text-align: center;
}

.archive .fit-video {
    @include margin-bottom( $size__margin-double );
}

.format-video > .fit-video {
	@include fullwidth-wrapper();
	margin: 0;    
}

.campaign-video .fit-video {
	@include margin-bottom( $size__margin-triple );
}