p {
	@include padding-bottom( $size__margin );
}

p:focus {
	outline: none;
}

b, strong {
	font-weight: 600;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	position: relative;
	left: 0;
	width: 100%;
	@include padding( $size__margin-double );
	@include margin( 0, 0,  $size__margin  );		
	@include font-size( $font__font-size-big );
	@include line-height( $font__line-height-big );
	@include background-color( $color__background-blockquote );

	@include bp( 800 ) {
		@include padding-left( $size__margin-triple );
		@include padding-right( $size__margin-triple );
	}

	p:last-child {
		padding-bottom: 0;
	}

	cite {
		position: relative;		
        @include fullwidth-calc( $size__margin-triple );
        @include padding( $size__margin, $size__margin-triple );
        @include margin( $size__margin, 0, - $size__margin-double );
        @include background-color( $color__background-content );
	}
}

cite {
	display: block;
	@include font-size();
}

address {
	font-weight: 400;
	@include margin(0, 0, 14);	
}

pre {
	max-width: 100%;
	@include padding( $size__margin );
	@include margin( 0, 0, $size__margin );
	font-family: $font__code;	
	@include background-color( $color__background-blockquote );
	@include hidden-overflow();
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-pre-wrap;
	white-space: -o-pre-wrap;
}

code, kbd, tt, var {
	font-family: $font__code;
}

abbr, acronym {
	border-bottom: {
		@include width( 1 );
		style: dotted;
	}
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

sup,
sub {
	font-size: 83%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	@include font-size( $font__font-size-small );
}

big {
	@include font-size( $font__font-size-big );
}