.widget {
	@include margin-bottom( 36 );
	@include padding( 0, 24, 12 );
	@include border( 1 );	
	border-radius: 0.4rem;
	@include background-color( $color__background-widget );
	@include hidden-overflow();

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	td {
		@include border-top-width( 1 );
	}

	tfoot td,
	th,
	input[type=text]:focus, 	
	input[type=password]:focus, 	
	input[type=email]:focus, 	
	input[type=number]:focus, 	
	textarea:focus, 	
	input[type=text]:active, 	
	input[type=password]:active, 	
	input[type=email]:active, 	
	input[type=number]:active, 	
	textarea:active {
		@include background-color( $color__background-content );
	}

	&.content-block {
		@include background-color( $color__background-content );
	}
}

.widget-title {
	@include margin( 12, 0, 24 );
	padding-bottom: 0;
	@include border-bottom( 2, $color__border-secondary );
	@include letter-spacing( 1 );
}


.widget_calendar.widget {
	padding: 0;

	table {
		position: relative;
		width: 100%;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;

		caption {
			text-align: center;
		}
	}

	th,
	td {
		text-align: center;
		@include padding-left( 6 );
		@include padding-right( 6 );
	}

	td {
		white-space: nowrap;
	}

	tr td:last-child, 
	tr th:last-child {
		border-right: 0;
	}
}

.widget_search.widget {
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;

	label {
		padding-top: 0;
	}

	.search-form {
		position: relative;
	}

	.widget-title {
		margin-top: 0;
	}

	.search-field {
		max-width: 100%;
		margin: 0;	
		@include padding( 11, 40, 11, 10 );		
		@include border-bottom( 2, $color__border-primary );
		background-color: transparent;

		&:focus {
			@include background-color( $color__background-content );
		}
	}

	.search-submit {
		position: absolute;
		@include bottom( 6 );
		right: 0;
		margin: 0;
		@include padding( 0, 10 );
		@include height( 29 );
		@include font-size( 14 );
		border: none;	
		background-color: transparent;
		box-shadow: none;	
	}
}