@mixin button-base() {
	display: inline-block;
	@include padding( 8, 20 );
	@include font-size( 14 );
	line-height: 1em;
	border-radius: 0.4rem;
	font-family: $font__secondary;	
	text-transform: uppercase;
	@include letter-spacing( 2 );
	cursor: pointer;
	@include property-transition(color);
	&:hover {		
		text-decoration: none;
	}
}

@mixin button() {
	@include button-base;
	position: relative;
	@include border( 3, $color__background-button );
	@include background-color( $color__background-button );
	@include color( $color__text-overlay );
	@include property-transition(border-color);
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@include border-width( 1 );
		border-color: rgba( 255, 255, 255, 0.3 );
		border-style: solid;
		border-radius: 0.4rem;
		display: block;
	}
	&:hover {
		@include border-color( $color__background-button );
		background-color: transparent;
		@include color( $color__background-button );
		&::after {
			border-color: transparent;
		}
	}	
}

@mixin button-inverted() {
	@include button-base;
	@include border( 2, $color__background-button );	
	background-color: transparent;
	@include color( $color__background-button );
	@include property-transition(background-color);
	&:hover {
		@include background-color( $color__background-button );
		@include color( $color__text-overlay );
	}
}