@mixin button() {
	display: inline-block;
	@include margin( 3, 0, 0, 3 );
	@include padding( 0, 20 );
	@include height( 31 );
	@include font-size( 14 );
	@include line-height( 29 );
	border: {
		@include width( 1 );
		style: solid; 
		color: rgba( 255, 255, 255, 0.3 );
	}
	border-radius: 0.4rem;
	box-shadow: 0 0 0 3px $color__background-button;
	font-family: $font__secondary;
	background: $color__background-button;
	color: $color__text-overlay;
	text-transform: uppercase;
	@include letter-spacing( 2 );
	cursor: pointer;
	
	@include property-transition(border-color);
	@include property-transition(color);		

	&:hover {
		background-color: transparent;
		border-color: transparent;	
		text-decoration: none;
	}
}

@mixin button-inverted() {
	display: inline-block;
	@include margin( 3, 0, 0, 3 );
	@include padding( 0, 20 );
	@include height( 33 );
	@include font-size( 14 );
	@include line-height( 29 );
	border: {
		@include width( 2 );
		style: solid; 
		color: $color__background-button;
	}
	border-radius: 0.4rem;
	box-shadow: none;
	font-family: $font__secondary;
	background: transparent;
	color: $color__background-button;
	text-transform: uppercase;
	@include letter-spacing( 2 );
	cursor: pointer;
	
	@include property-transition(background-color);
	@include property-transition(color);		

	&:hover {
		background-color: $color__background-button;
		color: $color__text-overlay;
		text-decoration: none;
	}
}