@mixin baseline-header() {
	@include margin-bottom( 12 );
	@include padding-bottom( 4 );
	border-bottom: {
		@include width( 2 );
		style: solid;
		color: $color__border-primary;
	}
	@include line-height( 38 );

	&:hover,
	a:hover {
		text-decoration: none;
	}
}