// Dimensions
@import "dimensions";

// Media queries
@import "media-queries";

// Captions
@import "caption";

// Headers
@import "headers";

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Button styles
@import "buttons";

// Overflow
@import "hidden-overflow";

// Transitions
@import "transitions";

// Fullwidth-wrapper
@import "fullwidth-wrapper";

// Widget variations
@import "widgets";

// Colour
@import "colour";

// Borders
@import "borders";