#colophon {
	float: left;
	width: 100%;
	clear: both;	
	@include margin( $size__margin-double, 0, 0 );
	@include padding( $size__margin-double, 0 );
	border-top: {
		@include width( 1 ); 
		style: solid;
		color: rgba( 255, 255, 255, 0.5 );
	}
	font-family: $font__secondary;
	text-transform: none;
	@include letter-spacing( 1 );
	font-weight: 300;
	text-align: center;

	.footer-notice {
		float: left;
		width: 100%;	
		margin: 0;
		padding: 0;	
	}

	&.no-widgets {
		margin: 0;
		padding: 0;
		border-top: 0;
	}
}