/*--------------------------------------------------------------
17.1 Footer Widget Area
--------------------------------------------------------------*/
#site-footer {
	@include padding( 24, 36 );
	@include color( $color__text-overlay );

	a {
		@include color( $color__text-overlay );
		text-decoration: none;
	}

	.button {
		background: transparent;
		box-shadow: none;
		@include border-color( $color__text-overlay );
	}
}

.footer-widget {
	float: left;	
	padding: 0;		
	@include margin( 0, 0, 12 );
	border: none;
	background: transparent !important;

	.title-wrapper {
		text-align: left;
	}

	.widget-title {
		float: left;
		border: none;
		padding-left: 0;
		padding-right: 0;
		@include margin-bottom( 12 );
	}

	@include bp( 786 ) {
		float: left;
		width: 40%;

		.footer-widget {
			width: 100%;
			margin: 0;	
		}
	}
}

.footer-right {
	.footer-widget {
		width: 50%;
		@include padding-left( 24 );
	}

	.footer-widget:nth-child( 2n+1 ) {
		padding-left: 0;
	}

	@include bp( 600 ) {
		.footer-widget {
			width: 33%;			
		}

		.footer-widget:nth-of-type( 2n+1 ) {
			@include padding-left( 24 );
		}

		.footer-widget:nth-of-type( 3n+1 ) {
			padding-left: 0;
		}
	}

	@include bp( 786 ) {
		float: left;
		width: 60%;
		padding-left: 0;

		.footer-widget:nth-of-type( 3n+1 ) {
			@include padding-left( 24 );
		}
	}
}

/*--------------------------------------------------------------
17.2 Colophon
--------------------------------------------------------------*/
@import "colophon";