/*--------------------------------------------------------------
17.1 Footer Widget Area
--------------------------------------------------------------*/
#site-footer {
	clear: both;
	@include padding( $size__margin-triple, $size__margin-double );
	@include color( $color__text-overlay );

	a {
		height: auto;
		@include color( $color__text-overlay );
		text-decoration: none;
	}

	.button {
		background: transparent;
		box-shadow: none;
		@include border-color( $color__text-overlay );
	}

	@include bp( 800 ) {
		@include padding( $size__margin-triple );
	}

	// .widget_calendar.widget {
	// 	tbody a {
	// 		background-color: $color__text-overlay;
	// 		color: $color__background-body;
	// 	}
	// }
}

.footer-widget {
	padding: 0;		
	@include margin( 0, 0, $size__margin-double );
	border: none;
	background: transparent !important;

	.title-wrapper {
		text-align: left;
	}

	.widget-title {
		float: left;
		border: none;
		padding-left: 0;
		padding-right: 0;
		@include margin-bottom( $size__margin );
	}	

	@include bp( 600 ) {	
		float: left;
		width: 33%;
		@include padding-right( $size__margin-double );

		&:nth-child( 4n+1 ) {
			width: 100%;
		}

		&:nth-child( 4n+3 ) {
			padding-right: 0;
		}

		&.widget_calendar.widget {
			padding-top: 0;
			@include padding-right( $size__margin-double );

			td, th {
				@include padding( 1 );
				border-color: rgba( 255, 255, 255, 0.3 );
			}

			th, 
			tfoot td {
				background-color: transparent;
			}

			tbody {
				a {
					display: block;
					background-color: $color__text-overlay;
					color: $color__background-body !important;
				}
			}
		}

		&.widget_search.widget {
			@include padding-right( $size__margin-double );
		}
	}

	@include bp( 786 ) {
		width: 20%;

		&:nth-child( 4n+1 ) {
			width: 40%;
		}
	}
}

/*--------------------------------------------------------------
17.2 Colophon
--------------------------------------------------------------*/
@import "colophon";