/*--------------------------------------------------------------
17.1 Footer Widget Area
--------------------------------------------------------------*/
#site-footer {
	clear: both;
	@include padding( $size__margin-triple, $size__margin-double );
	@include color( $color__text-overlay );

	a {
		height: auto;
		@include color( $color__text-overlay );
		text-decoration: none;
	}

	.button {
		background: transparent;
		box-shadow: none;
		@include border-color( $color__text-overlay );
	}

	@include bp( 800 ) {
		@include padding( $size__margin-triple );
	}
}

.footer-widget {
	padding: 0;		
	@include margin( 0, 0, $size__margin-double );
	border: none;
	background: transparent !important;

	.title-wrapper {
		text-align: left;
	}

	.widget-title {
		float: left;
		border: none;
		padding-left: 0;
		padding-right: 0;
		@include margin-bottom( $size__margin );
	}	

	@include bp( 600 ) {	
		float: left;
		width: 33%;
		@include padding-right( $size__margin-double );

		&:nth-child( 4n+1 ) {
			width: 100%;
		}

		&:nth-child( 4n+3 ) {
			padding-right: 0;
		}
	}

	@include bp( 786 ) {
		width: 20%;

		&:nth-child( 4n+1 ) {
			width: 40%;
		}
	}
}

/*--------------------------------------------------------------
17.2 Colophon
--------------------------------------------------------------*/
@import "colophon";