.account-links {
	display: block;
	margin: {
		top: 0;
		right: auto;
		@include bottom( 24 );
		left: auto;
	}
	text-transform: uppercase;
	@include font-size( 12 );
	@include line-height( 44 );
	font-weight: 300;
	text-align: center;

	a,
	a:before {
		@include color( $color__text-overlay );		
	}
	
	.button.button-alt {
		display: inline-block;	
		max-width: 100%;
		@include margin( 10, 0, 10, 8 );		
		@include padding-left( 24 );		
		@include color( $color__text-overlay );
		text-decoration: none;

		&::before {
			@include left( 10 );
			@include top( 8 );
		}

		&::after {
			display: none;
		}

		&:hover {
			@include background-color( $color__accent );
			@include border-color( $color__accent );
		}
	}

	@include bp( 600 ) {
		float: right;
		margin-left: 0;
		@include margin-right( 36 );
		margin-bottom: 0;
		width: auto;
	}
}

.logout {
	position: absolute;
	@include right( 36 );
	top: 0;
	display: inline-block;

	&::before {
		@include top( 16 );
	}

	&:hover {
		text-decoration: none;
	}

	@include bp( 600 ) {
		position: relative;
		right: 0;
		@include margin-left( 12 );
	}
}