.account-links {
	display: block;
	margin: {
		top: 0;
		right: auto;
		@include bottom( $size__margin-double );
		left: auto;
	}
	text-transform: uppercase;
	@include font-size();
	font-weight: 300;
	text-align: center;

	a,
	a:before {
		@include color( $color__text-overlay );		
	}
	
	.button.button-alt {
		display: inline-block;	
		max-width: 100%;
		@include margin( $size__margin, 0, $size__margin, $size__margin - 4 ); // Negative left margin makes up for extra margin added by inline-block
		@include padding-left( $size__margin-double );		
		@include color( $color__text-overlay );
		text-decoration: none;

		&::before {
			@include left( 10 );
			@include top( 8 );
		}

		&::after {
			display: none;
		}

		&:hover {
			@include background-color( $color__accent );
			@include border-color( $color__accent );
		}
	}

	@include bp( 600 ) {
		float: right;
		margin: 0;
		width: auto;
	}
}

.logout {
	float: right;
	top: 0;
	display: inline-block;
	@include padding-top( $size__margin );
	@include line-height( 32 );

	&::before {
		@include top( 23 );
	}

	&:hover {
		text-decoration: none;
	}

	@include bp( 600 ) {
		@include margin-left( $size__margin );
	}
}