#page > .layout-wrapper, 
#header {
	@include padding( 0, $size__margin-double );

	@include bp( 800 ) {
		@include padding-left( $size__margin-triple );
		@include padding-right( $size__margin-triple );
	}
}

#page > .layout-wrapper {
	@include max-width( 1472 );
}

#header {
	position: relative;		
	z-index: 50;
	@include padding-top( $size__margin-double );
	@include background-color( $color__background-wrapper );
}

.site-identity {
	position: relative;
	z-index: 500;
	float: left;
	max-width: 25%;
	@include padding( $size__margin, $size__margin-double, $size__margin, 0 );
	text-transform: uppercase;
}

.home-link {
	position: absolute;
	left: 0;
	display: block;
	width: 100%; 
	height: 100%;	
}

.site-title {
	margin: 0;
	padding: 0;
	@include font-size( 34 );
	@include line-height( 38 );

	a {
		@include color( $color__accent );

		&:hover {
			text-decoration: none;
			opacity: 0.9;
		}
	}
}

.site-tagline {	
	@include padding( $size__margin-half, 0 );
	margin: 0;
	@include font-size();
	line-height: 1em;	
	letter-spacing: 0;
}

/*-------------------------------------------------------------- 
13.1 Social Networks
--------------------------------------------------------------*/
@import "social-networks"; 

/*-------------------------------------------------------------- 
13.2 Account Links
--------------------------------------------------------------*/
@import "account-links"; 