ul, 
ol, 
dd {
	@include margin( 0, 0, $size__margin );
}

ul, 
ol {	
	ul, 
	ol {
		@include margin( $size__margin-half, 0, 0, 20 );
	}
}

li {
	@include margin-bottom( $size__margin-half );
}

ul {
	@include padding-left( 17 );
	list-style: disc;

	ul {
		list-style: circle;
	}
}

ol {
	@include padding-left( 22 );
	list-style: decimal;

	ol {
		list-style: upper-roman;

		ol {
			list-style: lower-roman;
		}
	}
}

dt {
	font-weight: 600;
}

/* Horizontal lists */
.horizontal {
	padding-left: 0;

	li {
		display: inline-block; 
		list-style: none;
	}
}