table {
	width: 100%;	
	@include margin-bottom( $size__margin );
	@include border-width( 0, 0, 1, 1 );
	border-style: solid;
	@include border-color( $color__border-primary );
	word-break: normal;

	caption {
		@include padding( 4, 0 );
		@include font-size();
		font-weight: 400;	
	}
}

th,
td {
	@include padding( $size__margin-half, 10 );
	@include border-width( 1, 1, 0, 0 );
	border-style: solid;
	@include border-color( $color__border-primary );
	vertical-align: top;	
}

th {		
	@include background-color( $color__background-th );
	text-align: left;
	text-transform: uppercase;
	@include letter-spacing( 2 );
	font-weight: 400;	
	white-space: nowrap;
}

td {
	@include border-right-width( 1 );
}

th p:last-child, 
th ul:last-child,
th ol:last-child,
th dl:last-child,
td p:last-child, 
td ul:last-child,
td ol:last-child,
td dl:last-child {
	margin-bottom: 0;
}