/* Background colours */
$color__background-body: 		#aea198;
$color__background-wrapper: 	#f9f8f7;
$color__background-screen: 		#f9f8f7;
$color__background-widget: 		#f1efee;
$color__background-content: 	#fff;
$color__background-button: 		#7d6e63;
$color__background-meta: 		#f1efee;
$color__background-blockquote: 	#f1efee;
$color__background-th: 			#f1efee;

/* Accent colour */
$color__accent: 				#d95b43;
$color__accent-hover: 			#df745f;

/* Text colour */
$color__text:		 			#7d6e63;
$color__text-dark: 				#574c45;
$color__text-overlay: 			#fff;
$color__text-screen:		 	#574c45;
$color__text-meta:				#bdb2ab;

/* Borders */
$color__border-primary: 		#e2dedb; 
$color__border-secondary: 		#dbd5d1; 

/* Miscellaneous */
$color__success: 				#1ba714;
$color__failure: 				#cc181e;