/* Background colours */
$color__background-body: 		#8e989e !default;
$color__background-wrapper: 	#f5f5f6 !default;
$color__background-screen: 		#f5f5f6 !default;
$color__background-widget: 		#ffffff !default;
$color__background-content: 	#ffffff !default;
$color__background-button: 		#70777c !default;
$color__background-meta: 		#ffffff !default;
$color__background-blockquote: 	#ffffff !default;
$color__background-th: 			#ffffff !default;
$color__background-form-fields: #f5f5f6 !default;

/* Accent colour */
$color__accent: 				#7bb4e0 !default;
$color__accent-hover: 			#97c4e6 !default;

/* Text colour */
$color__text:		 			#70777c !default;
$color__text-dark: 				#574c45 !default;
$color__text-overlay: 			#ffffff !default;
$color__text-screen:		 	#574c45 !default;
$color__text-meta:				#b6bbbd !default;

/* Borders */
$color__border-primary: 		#e3e5e6 !default; 
$color__border-secondary: 		#dadcde !default; 

/* Miscellaneous */
$color__success: 				#1ba714 !default;
$color__failure: 				#cc181e !default;