@mixin colour( $property, $colour ) {
    $include_colours: 1 !default; 
    
    @if $include_colours == 1 {
        #{$property} : #{$colour};
    }

    @extend %#{$property}#{unquote("-") + $colour} !optional;    
}

@mixin color( $colour ) {
    @include colour( color, $colour );
}
@mixin background-color( $colour ) {
    @include colour( background-color, $colour );
}
@mixin border-color( $colour ) {
    @include colour( border-color, $colour );
}
@mixin border-top-color( $colour ) {
    @include colour( border-top-color, $colour );
}
@mixin border-right-color( $colour ) {
    @include colour( border-right-color, $colour );
}
@mixin border-bottom-color( $colour ) {
    @include colour( border-bottom-color, $colour );
}
@mixin border-left-color( $colour ) {
    @include colour( border-left-color, $colour );
}

@mixin box-shadow( $value ) {
    $include_colours: 1 !default;

    @if $include_colours == 1 {
        box-shadow: #{$value};
    }
}

/*-------------------------------------------------------------- 
0.1 Palette
--------------------------------------------------------------*/
$placeholders : ();

// Checks if a placeholder exists.
@function placeholder-exists($name) {
    @if index($placeholders, $name) == null {
        @return false;
    }
 
    @return true;
}

// Registers a placeholder.
//
// @access private
@function register-placeholder($name) {
    @if placeholder-exists($name) == false {
        $placeholders: append($placeholders, $name) !global;
    }  
 
    @return $name;
}
 
// Defines a placeholder.
@mixin define-placeholder($name) {
    %#{$name} {
        $name: register-placeholder($name);
 
        @content;
    }
}

// Finally, register all our placeholders
$is_palette_stylesheet : 0 !default;
@if $is_palette_stylesheet == 1 {
    @each $colour in 
        $color__background-body,
        $color__background-wrapper,
        $color__background-screen,
        $color__background-widget,
        $color__background-content,
        $color__background-button,
        $color__background-meta,
        $color__background-blockquote,
        $color__background-th,
        $color__background-form-fields,
        $color__accent,
        $color__accent-hover,
        $color__text,
        $color__text-dark,
        $color__text-overlay,
        $color__text-screen,
        $color__text-meta,
        $color__border-primary,
        $color__border-secondary,
        $color__success,
        $color__failure {
        @each $prop in 
            color, 
            background-color, 
            border-color,
            border-top-color,
            border-right-color,
            border-bottom-color,
            border-left-color {
                @include define-placeholder( #{$prop}#{unquote("-") + $colour} ) {
                    #{$prop} : #{$colour};
            }            
        }
    }
}    