$font__main             : Merriweather, Georgia, "Times New Roman", Times, serif;
$font__secondary        : Oswald, "Helvetica Neue", Helvetica, sans-serif;
$font__code             : Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__icons            : "Reach-Icons";
$font__font-size        : 14;
$font__font-size-small  : 12;
$font__font-size-big    : 16;
$font__line-height      : 24; // Approximately 1.75
$font__line-height-big  : 28; // 1.75