/* .menu-site is used as a reusable menu class */
.menu-site {
	position: relative;	
	left: 0;	
	top: 0;
	z-index: 50;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;	
	@include property-transition( max-height, 500ms ); 

	ul {
		@include background-color( $color__background-content );
		@include border-color( $color__accent );
	}

	li {
		margin: 0;	
		@include border-bottom( 1 );		
		list-style: none;
		line-height: 1em;
		@include letter-spacing( 1 );
		text-transform: uppercase;	
		text-align: left;
		@include size( text-indent, $size__margin-double );	

		&.hovering, 
		&.hovering li {
			height: auto;
		}
	}

	a {
		display: block;
		@include padding( $size__margin, 0 );
		text-decoration: none;
		font-weight: 400;
		@include color( $color__text );

		&:hover {
			@include color( $color__accent );
		}
	}

	@include bp( 800 ) {
		ul {
			position: absolute;	
			left: -999em;
			@include width( 200 );
			@include margin( 5, 0, 0, 0 );
			@include padding( $size__margin-half, 0 );
			z-index: 100;
			@include border-width( 2 );
			border-style: solid;			
			border-radius: 0.4rem;			

			a {
				font-size: 1.2rem;
				border: none;		
			}

			ul {
				top: 0;
				margin-top: 0;
				margin-left: 20rem;
			}

			li:last-child {
				border: none;
			}
		}		

		li {
			position: relative;
			display: inline-block;
			padding-bottom: 0.8rem;		

			li {
				display: block;
				width: 100%;
				padding: 0;
				clear: left;
				margin: 0;

				a {
					text-align: left;
					padding: 1.2rem;
				}
			}
		}

		a {
			position: relative;
			z-index: 50;
			display: inline-block;
			@include padding( $size__margin-half );
			@include border( 2, transparent );
			border-radius: 0.4rem;		
			@include font-size( 13 );
			line-height: 1em;
			text-align: center;
		}

		.menu-item-has-children > a:after {
			font-family: 'reach-icons';
			content: '\f107';
			position: relative;	
			top: 0;
			left: 0.4rem;
		}

		ul .menu-item-has-children > a:after {
			content: '\f105';
			top: 0;
		}

		li:hover > ul,
		li.hovering > ul {
			left: auto;
		}
	}
}

.toggled .menu-site {
	position: relative;
	@include fullwidth-calc( $size__margin-double );
	height: auto;
	max-height: 10000px;
	@include border-top( 2, $color__accent );
	@include background-color( $color__background-wrapper );
	
	ul {
		margin: 0;
		padding-left: 0;
		@include border-top( 1, $color__border-primary );
		@include background-color( $color__background-wrapper );
	}

	> ul {
		@include border-color( $color__accent );
	}

	li {
		li {
			@include size( text-indent, $size__margin-triple );

			li {
				@include size( text-indent, $size__margin * 4 );
			}

			&:last-child {
				padding-bottom: 0;
				border: none;
			}
		}
	}
}

/* .menu-button is used as a trigger class for toggling menus */
.menu-button {
	@include font-size( 20 );
	@include color( $color__accent );

	&:hover {
		text-decoration: none;
	}

	@include bp( 800 ) {
		display: none !important;
	}
}

/*--------------------------------------------------------------
5.3 Site Navigation
--------------------------------------------------------------*/
@import "site-navigation";

/*--------------------------------------------------------------
5.4 Paging
--------------------------------------------------------------*/
@import "paging";