.left {
	text-align: left;	
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.alignleft { 
	float: left;
	@include margin( 0, $size__margin, $size__margin, 0 );
}

.alignright { 
	float: right;
	@include margin( 0, 0, $size__margin, $size__margin );
}

.aligncenter { 
	@include center-block();
	@include margin-top( $size__margin ); 
	@include margin-bottom( $size__margin );
	clear: both;
	text-align: center;
}