/* Various re-usable styled blocks */
.block {
	@include margin-bottom( 36 );
	border: {
		@include width( 1 ); 
		style: solid; 
		color: $color__border-primary;
	}
	border-radius: 0.4rem;	
}

.entry-block {
	position: relative;
	padding: 0 4%;
	background: $color__background-content;
	box-shadow: 0 0 1px $color__background-content;
	overflow-x: hidden;

	@include bp( 800 ) {
		@include padding-left( 36 );
		@include padding-right( 36 );
	}
}

.content-block {
	padding: 0 4% 24px; padding-right: 2.4rem;

	@include bp( 800 ) {
		@include padding( 0, 36, 24 );
	}	
}

.multi-block {
	.content-block:first-of-type {
		border-radius: 0.4rem 0.4rem 0 0;
	}

	.content-block:nth-of-type(1n+2) {
		border-top: {
			@include width( 1 ); 
			style: solid;	
			color: $color__border-primary;
		}
	}

	.content-block:last-of-type {
		border-radius: 0 0 0.4rem 0.4rem;
	}
}

.feature-block {
	position: relative;
	left: (-(4 / 92) * 100% ) - 9;
	width: 100% + 18 + ((8 / 92) * 100);		
	padding: {
		top: 0;
		right: 4%;
		@include bottom( 36 );
		left: 4%;
	}
	background-repeat: repeat;
	color: $color__text-overlay;
	background-color: $color__accent;

	@include bp( 800 ) {
		left: -4.5rem;
		width: -webkit-calc( 100% + 91px );
		width: -moz-calc( 100% + 91px );
		width: calc( 100% + 91px );
		@include padding-left( 45 );
		@include padding-right( 45 );
	}
}

.block-title {
	@include baseline-header();
	color: $color__accent;
}

/* Shadow wrapper */
.shadow-wrapper {
	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: -0.9rem;
		width: 0;
		height: 0;
	}

	&::before {
		left: -0.9rem;
		border-left: 0.9rem solid transparent !important;
		border-bottom: 0.9rem solid transparent !important;
		border-right: 0.9rem solid;
	}

	&::after {
		right: -0.9rem;
		border-right: 0.9rem solid transparent !important;
		border-bottom: 0.9rem solid transparent !important;
		border-left: 0.9rem solid;
	}
}