/* Various re-usable styled blocks */
.block {
	@include margin-bottom( 36 );
	@include border( 1 );
	border-radius: 0.4rem;	
}

.entry-block {
	position: relative;
	@include padding( 0, 24 );
	@include background-color( $color__background-content );
	box-shadow: 0 0 1px $color__background-content;
	overflow-x: hidden;

	@include bp( 800 ) {
		@include padding-left( 36 );
		@include padding-right( 36 );
	}
}

.content-block {
	@include padding( 0, 24, 24 );
	@include background-color( $color__background-content );
	@include bp( 800 ) {
		@include padding( 0, 36, 24 );
	}	
}

.multi-block {
	.content-block:first-of-type {
		border-radius: 0.4rem 0.4rem 0 0;
	}

	.content-block:nth-of-type(1n+2) {
		@include border-top( 1 );
	}

	.content-block:last-of-type {
		border-radius: 0 0 0.4rem 0.4rem;
	}
}

.feature-block {
	@include fullwidth-wrapper-padded();	
	@include padding( 0, 24, 36, 24 );		
	@include color( $color__text-overlay );
	@include background-color( $color__accent );
	background-repeat: repeat;
	box-shadow: none;
	border: none;

	@include bp( 800 ) {		
		@include padding-left( 45 );
		@include padding-right( 45 );
	}
}

.block-title {
	@include baseline-header();
	@include color( $color__accent );
}

.block-title.with-icon {
	@include padding-left( 28 );
}

/* Shadow wrapper */
.shadow-wrapper {
	&::before {
		@include border-right-color( $color__background-button );
	}
	
	&::after {
		@include border-left-color( $color__background-button );
	}

	@include bp( 800 ) {		
		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: -0.9rem;
			width: 0;
			height: 0;
			border-style: solid;			
			border-width: 0 0.9rem 0.9rem 0.9rem;
		}

		&::before {
			left: -0.9rem;
			border-bottom-color: transparent;
			border-left-color: transparent;
		}

		&::after {
			right: -0.9rem;
			border-right-color: transparent;
			border-bottom-color: transparent;			
		}
	}
}