/* Various re-usable styled blocks */
.block {
	@include margin-bottom( 36 );
	border: {
		@include width( 1 ); 
		style: solid; 
		color: $color__border-primary;
	}
	border-radius: 0.4rem;	
}

.entry-block {
	position: relative;
	@include padding( 0, 24 );
	background: $color__background-content;
	box-shadow: 0 0 1px $color__background-content;
	overflow-x: hidden;

	@include bp( 800 ) {
		@include padding-left( 36 );
		@include padding-right( 36 );
	}
}

.content-block {
	@include padding( 0, 24, 24 );

	@include bp( 800 ) {
		@include padding( 0, 36, 24 );
	}	
}

.multi-block {
	.content-block:first-of-type {
		border-radius: 0.4rem 0.4rem 0 0;
	}

	.content-block:nth-of-type(1n+2) {
		border-top: {
			@include width( 1 ); 
			style: solid;	
			color: $color__border-primary;
		}
	}

	.content-block:last-of-type {
		border-radius: 0 0 0.4rem 0.4rem;
	}
}

.feature-block {
	@include fullwidth-wrapper-padded();	
	@include padding( 0, 24, 36, 24 );		
	color: $color__text-overlay;
	@include background-color($color__accent);
	// @extend %background-color--#{$color__accent} !optional;
	background-repeat: repeat;
	box-shadow: none;
	border: none;

	@include bp( 800 ) {		
		@include padding-left( 45 );
		@include padding-right( 45 );
	}
}

.block-title {
	@include baseline-header();
	@extend %color--#{$color__accent} !optional;
}

/* Shadow wrapper */
@include bp( 800 ) {
	.shadow-wrapper {
		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: -0.9rem;
			width: 0;
			height: 0;
		}

		&::before {
			left: -0.9rem;
			border-left: 0.9rem solid transparent !important;
			border-bottom: 0.9rem solid transparent !important;
			border-right: 0.9rem solid;
		}

		&::after {
			right: -0.9rem;
			border-right: 0.9rem solid transparent !important;
			border-bottom: 0.9rem solid transparent !important;
			border-left: 0.9rem solid;
		}
	}
}