.button {
	@include button();
	@include background-color( $color__background-button );
	@include border-color( $color__background-button );
	&:hover {
		text-decoration: none;
	}	
}

.button-alt, 
.button-secondary, 
.button.button-alt, 
.button.button-secondary {
	@include button-inverted();
	@include color( $color__background-button );
	@include border-color( $color__background-button );	

	&:hover {
		@include background-color( $color__background-button );
		@include color( $color__text-overlay );
	}

	&.accent {
		@include color( $color__accent );
		@include border-color( $color__accent );

		&:hover {
			@include background-color( $color__accent );
			@include color( $color__text-overlay );
		}
	}
}

.button-small,
.button.button-small, 
.button-alt.button-small {
	@include max-width( 120 );
	@include padding-left( 10 );
	@include padding-right( 10 );
	@include font-size( 12 );
}

.button-large, 
.button.button-large {
	@include font-size( 25 );
	@include height( 50 );
	@include line-height( 50 );
}