.comments-section {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 0;
	@include border-width( 1, 0 );
	@include background-color( $color__background-content );

	@include bp( 800 ) {
		@include border-width( 1 );
	}
}

/* Comment Form */

.comment-form-block {
	@include padding-top( $size__margin-double );
	border-right-width: 0;
	border-left-width: 0;

	input[type=email],
	input[type=text], 
	textarea {
		max-width: 100%;
		@include background-color( $color__background-wrapper );
	}
}

.comment-text-input {
	float: left;
	width: 49%;
	margin-right: 2%;
}

.comment-text-input.fullwidth {
	width: 100%; 
	margin: 0;
}

.comment-text-input.last {
	margin-right: 0;
}

#comment {
	max-width: 100%;
}

.comment-notes {
	clear: both;
}

/* Comments List */

.comment,
.pingback {
	float: left;
	clear: both;
	@include margin-bottom( $size__margin-double );
	width: 100%;
	@include border-bottom( 1 );
	@include hidden-overflow();

	h1, 
	h2,
	h3,
	h4,
	h5 {
		text-transform: none;
		letter-spacing: 0;
	}
}

.avatar {
	border-radius: 0.4rem;
}

.comments-list {	
	float: left;
	width: 100%;
	@include margin( $size__margin-double, 0, 0 );
	padding-left: 0;

	.children {
		margin-left: 5%;
		padding-left: 0;
		width: 95%;
	}

	.avatar {
		position: absolute;
	}	

	> .comment:last-of-type {
		margin-bottom: 0;
		border-bottom: none;
	}

	@include bp( 800 ) {
		.children {		
			margin-left: -webkit-calc( 7rem );
			margin-left: -moz-calc( 7rem );
			margin-left: calc( 7rem );

			width: -webkit-calc(100% - 7rem);
			width: -moz-calc(100% - 7rem);			
			width: calc(100% - 7rem);
		}
	}
}

.comment-details {
	@include margin( 0, 0, $size__margin, 70 );
}

.comment-author {
	margin-top: 0;
}

.no-avatars .comment-details {
	margin-left: 0;
}

.comment-meta {
	padding-bottom: 0;
	@include font-size( $font__font-size-small );
	@include color( $color__text-meta );
}

.comment-date {	
	font-style: italic;	
}

.comment-reply {
	@include margin-left( 10 );
}

.bypostauthor {
	.post-author {
		text-transform: uppercase;
		i {
			@include margin-right( 2 );
			@include color( $color__accent );
		}
	}
}

#reply-title {
	@include margin-top( $size__margin );
	@include font-size( $font__font-size-big );
	text-transform: uppercase
}

#cancel-comment-reply-link {
	float: right;
	@include font-size();

	&::before {
		@include top( 8 );
	}
}

#submit {
	@include button-inverted;		
}