.single-post .entry-block {
	padding-top: 0;
}

.post-title {
	@include baseline-header();
	margin-bottom: 0;
	text-align: center;
	-ms-word-wrap: break-word;
	word-break: break-word;

	a {
		@include color( $color__accent );
	}
}

.banner {
	position: relative;	
	width: 100%;	
	word-wrap: break-word;
	@include min-height( 100 );
	@include padding( 35, $size__margin-double );
	@include background-color( $color__accent );
	@include color( $color__text-overlay );
	text-align: center;
}

@include bp( 800 ) {
	.banner {
		width: -webkit-calc((100% + #{$size__margin-triple}px)/ 0.68 + #{$size__margin-triple * 2}px);
		width: -moz-calc((100% + #{$size__margin-triple}px)/ 0.68 + #{$size__margin-triple * 2}px);
		width: calc((100% + #{$size__margin-triple}px)/ 0.68 + #{$size__margin-triple * 2}px);
		@include padding-left( $size__margin-triple );
		@include padding-right( $size__margin-triple );
		@include margin-bottom( $size__margin-triple );
	}

	.content-area .banner { 
		@include left( -$size__margin-triple );
	}
}

@include bp( 1484 ) {
	.banner {
		width: 100vw;
	}
}

.blog .banner, 
.archive .banner {
	@include margin-bottom( $size__margin-triple );
}

.banner-title {
	margin: 0;	
	padding: 0;
	line-height: 1em;
	@include letter-spacing( 3 );
}

.banner-subtitle {
	@include margin( $size__margin, 0, 0 );
	font-style: italic;
	letter-spacing: 0;
	text-transform: none;
}

.sticky-tag {
	display: none;
}

.sticky {	
	.sticky-tag {
		position: absolute;
		display: block;        
        @include padding( $size__margin-half, 0 );      
        @include width( 200 );
        @include margin( 14, 0, 0, -76 - $size__margin-triple );  
        @include font-size();
        line-height: 1em;
        text-align: center;
        @include letter-spacing( 1 );        
        @include background-color( $color__accent );
        @include color( $color__text-overlay );
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);display: block;			
	}
}

.entry-block {
	.fit-video, 
	blockquote {
		position: relative;
		@include fullwidth-calc( $size__margin-double );

		@include bp( 800 ) {
			@include fullwidth-calc( $size__margin-triple );
		}
	}
}

.entry {	
	@include padding( $size__margin-double, 0 );	
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size( $font__font-size-big );
	@include line-height( $font__line-height-big );

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	h1, 
	h2,
	h3,
	h4,
	h5 {
		text-transform: none;
		letter-spacing: 0;
	}	
}

.meta {	
	@include fullwidth-wrapper();
	padding: 0;	
	margin: 0;
	@include border-top( 1 );
	border-radius: 0 0 0.4rem 0.4rem;
	@include font-size( $font__font-size-small );
	@include line-height( 38 );
	@include letter-spacing( 1 );
	font-weight: 300;	
	@include background-color( $color__background-meta );
	@include color( $color__text-meta );

	p {
		padding: 0;
	}

	span {
		@include padding( $size__margin, 0 );
	}

	.with-icon {
		@include padding-left( 18 );

		&::before {
			@include top( 17 );
		}
	}

	a {
		@include color( $color__text );
	}

	.author, 
	.comment-count, 
	.tags {
		@include margin-left( $size__margin-half );
		@include padding-left( 10 );
		@include border-left( 1 );
	}

	@include bp( 600 ) {
		@include font-size( $font__font-size-small );
		@include line-height( 44 );
	}
}

.meta-taxonomy {
	@include background-color( $color__background-blockquote );
}

.site-main.not-found {
	text-align: center;
}

.archive-title {
	@include margin( 0, 0, $size__margin-triple );
	text-align: center;	
	text-transform: none;
	letter-spacing: 0;
}

.post-password-required {
	label {
		@include margin-bottom( $size__margin-half );

		input {
			max-width: 100%;
			width: 100%;
			display: block;
		}
	} 
}

.lead {
	@include margin-bottom( $size__margin );
	@include font-size( $font__font-size-big );
	@include line-height( 26 );
}

/*--------------------------------------------------------------
11.1.1 Post Formats
--------------------------------------------------------------*/
@import "post-formats/formats";

/*--------------------------------------------------------------
11.1.2 Page Templates
--------------------------------------------------------------*/
@import "page-templates/templates";