.post-title {
	@include baseline-header();
	margin-bottom: 0;
	text-align: center;
	word-break: break-word;

	a {
		@include color( $color__accent );
	}
}

.banner {	
	width: 100vw;
	@include min-height( 100 );
	@include padding( 35, 0 );
	@include background-color( $color__accent );
	@include color( $color__text-overlay );
	text-align: center;

	@include bp( 800 ) {
		position: relative;
		@include left( -$size__margin-triple );
		@include margin-bottom( $size__margin-triple );
	}
}

.blog .banner, 
.archive .banner {
	@include margin-bottom( $size__margin-triple );
}

.banner-title {
	margin: 0;	
	padding: 0;
	line-height: 1em;
	@include letter-spacing( 3 );
}

.banner-subtitle {
	@include margin( $size__margin, 0, 0 );
	font-style: italic;
	letter-spacing: 0;
	text-transform: none;
}

.sticky {

	// @include color( $color__text-overlay );
	// @include background-color( $color__accent );
	// border-color: $color__text-overlay;
	
	// a {
	// 	@include color( $color__text-overlay );
	// }

	// .post-title {
	// 	@include border-color( $color__accent-hover );
	// }
	
	// .entry a {
	// 	text-decoration: underline;
	// }

	// .entry .more-link {		
	// 	@include border-color( $color__text-overlay );
	// 	text-decoration: none;

	// 	&:hover,
	// 	&:focus,
	// 	&:active {
	// 		@include background-color( $color__background-button );
	// 		@include border-color( $color__background-button );
	// 	}
	// }
}

.entry-block {
	.fit-video, 
	blockquote {
		position: relative;
		@include fullwidth-calc( $size__margin-double );

		@include bp( 800 ) {
			@include fullwidth-calc( $size__margin-triple );
		}
	}
}

.entry {
	@include font-size( $font__font-size-big );
	@include line-height( $font__line-height-big );
	@include padding( $size__margin-double, 0, $size__margin );	

	> *:first-child {
		margin-top: 0;
	}

	h1, 
	h2,
	h3,
	h4,
	h5 {
		text-transform: none;
		letter-spacing: 0;
	}	
}

.meta {	
	@include fullwidth-wrapper();
	padding: 0;	
	margin: 0;
	@include font-size( $font__font-size-small );
	@include line-height( 38 );
	@include letter-spacing( 1 );
	font-weight: 300;	
	@include background-color( $color__background-meta );
	@include color( $color__text-meta );

	p {
		padding: 0;
	}

	span {
		@include padding( $size__margin - 4, 0 );
	}

	.with-icon {
		@include padding-left( 18 );

		&::before {
			@include top( 13 );
		}
	}

	a {
		@include color( $color__text );
	}

	.author, 
	.comment-count, 
	.tags {
		@include margin-left( $size__margin-half );
		@include padding-left( 10 );
		@include border-left( 1 );
	}

	@include bp( 600 ) {
		@include font-size( $font__font-size-small );
		@include line-height( 44 );
	}
}

.meta-above {
	@include border-bottom( 1 );
}

.meta-below {
	@include border-top( 1 );
	border-radius: 0 0 0.4rem 0.4rem;
}

.site-main.not-found {
	text-align: center;
}

.archive-title {
	@include margin( 0, 0, $size__margin-triple );
	text-align: center;	
	text-transform: none;
	letter-spacing: 0;
}

.post-password-required {
	label {
		@include margin-bottom( $size__margin-half );

		input {
			max-width: 100%;
			width: 100%;
			display: block;
		}
	} 
}

.lead {
	@include margin-bottom( $size__margin );
	@include font-size( $font__font-size-big );
	@include line-height( 26 );
}

/*--------------------------------------------------------------
11.1.1 Post Formats
--------------------------------------------------------------*/
@import "post-formats/formats";

/*--------------------------------------------------------------
11.1.2 Page Templates
--------------------------------------------------------------*/
@import "page-templates/templates";