.post-title {
	@include baseline-header();
	@include margin( 24, 0, 12 );	
	text-align: center;
	word-break: break-word;

	a {
		@include color( $color__accent );
	}
}

.banner {
	@include fullwidth-wrapper-padded();
	@include min-height( 100 );
	@include padding( 35, 0 );
	@include margin( -36, 0, 36 );
	@include background-color( $color__accent );
	@include color( $color__text-overlay );
	text-align: center;
}

.banner-title {
	margin: 0;	
	padding: 0;
	line-height: 1em;
	@include letter-spacing( 3 );
}

.banner-subtitle {
	@include margin( 12, 0, 0 );
	font-style: italic;
	letter-spacing: 0;
	text-transform: none;
}

.sticky {
	color: $color__background-content;
	@include background-color( $color__accent );
	border: {
		@include width( 1 ); 
		style: solid;	
		color: $color__background-content;
	}

	a {
		color: $color__background-content;
	}

	.post-title {
		border-color: $color__accent-hover;
	}
	
	.entry a {
		text-decoration: underline;
	}

	.entry .more-link {
		text-decoration: none;
	}
}

.entry {
	@include padding( 24, 0, 12 );	

	> *:first-child {
		margin-top: 0;
	}

	h1, 
	h2,
	h3,
	h4,
	h5 {
		text-transform: none;
		letter-spacing: 0;
	}

	blockquote {
		@include fullwidth-wrapper();		
	}	
}

.meta {	
	@include fullwidth-wrapper();
	padding: 0;	
	margin: 0;
	@include font-size( 10 );
	@include line-height( 38 );
	@include letter-spacing( 1 );
	font-weight: 300;	
	background-color: $color__background-meta;
	@include color( $color__text-meta );

	p {
		padding: 0;
	}

	span {
		@include padding( 12, 0 );
	}

	a {
		@include color( $color__text );
	}

	.author, 
	.comment-count, 
	.tags {
		@include margin-left( 6 );
		@include padding-left( 10 );
		border-left: {
			@include width( 1 ); 
			style: solid;
			color: $color__border-primary;
		}		
	}

	@include bp( 600 ) {
		font-size: 1.1rem;
		line-height: 4rem;
	}
}

.meta-above {
	border-bottom: {
		@include width( 1 ); 
		style: solid;
		color: $color__border-primary;
	}
}

.meta-below {
	border-top: {
		@include width( 1 ); 
		style: solid;
		color: $color__border-primary;
	}
	border-radius: 0 0 0.4rem 0.4rem;
}

.site-main.not-found {
	text-align: center;
}

.archive-title {
	@include margin( 0, 0, 36 );
	text-align: center;	
	text-transform: none;
	letter-spacing: 0;
}

.post-password-required {
	label {
		@include margin-bottom( 6 );

		input {
			max-width: 100%;
			width: 100%;
			display: block;
		}
	} 
}

.lead {
	@include margin-bottom( 12 );
	@include font-size( 16 );
	@include line-height( 26 );
}

/*--------------------------------------------------------------
11.1.1 Page Templates
--------------------------------------------------------------*/
@import "page-templates/templates";